@font-face {
    font-family: adine_kirnberg;
    src: url(/fonts/adine_kirnberg.ttf);
}
body {
    background: rgb(236,236,236);
    font-family: open-sans
}

.navbar {
    border-radius: 0px 0px 5px 5px;
    background-color: #fff;
    border: 0px;
}

.navbar-brand {
	font-family: adine_kirnberg;
	font-size: 40px;
}

.btn-flat {
    background-color: #95A5A6;
}

.carousel {
	background: rgb(238, 238, 238);
}
